.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 4px solid green;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  display: flex;
  padding-left: 64px;
  align-items: center;
  position: relative;
  border: 4px dotted red;
  z-index: -2;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
  margin: 0;
  }

.header__subtitle {
  position:absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__main-illustration {
height: 608px;
width: 756px;
object-fit: cover;
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
  background-color: #2f80ed;
}

.header__link {
  text-decoration: none;
}

.description {
  margin-top: 100px;
  display:flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  border: 4px dotted orange;
  justify-content: space-between;
  padding: 0;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  list-style-type: none;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
margin-bottom: 0px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  border: 4px dotted greenyellow;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  border: 4px solid purple;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}

.feynman {
  height: 890px;
  display: flex;
  border: 4px dotted rgb(165, 18, 99);
  flex-direction:column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  width: 648px;
  margin: 0;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 445px;
  right: 0px;
  padding: 0;
  margin-right: 48px;
  text-decoration: none;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}


.logo {
width: 183px;
height: 32px;
}

.logo_place_header {
background-image: url(../images/logo_place_header.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
position: absolute;
top: 30px;
left: 64px;
z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
