@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
  display: flex;
  padding-left: 64px;
  align-items: center;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 2;
  margin: 0;
  padding: 0;
  }

.header__subtitle {
  position:absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.header__main-illustration {
  eight: 608px;
  width: 756px;
  object-fit: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
  background-color: #2f80ed;
}

.rotation {
  animation: rotate 20s linear infinite;
}

.header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.description {
  margin-top: 100px;
  display:flex;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:  #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  list-style-type: none;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph:nth-of-type(3n) {
margin-bottom: 0px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  }

.cards {
  width: 920px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.cards__item {
  display: flex;
  width: 240px;
  flex-direction: column;
  list-style-type: none;
  margin-right: 100px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

.cards__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 60px 40px 43px;
  object-fit: cover;
}

.cards__title {
text-align: center;
}

.cards__description {
  margin-top: 16px;
  margin-bottom: 0;
  padding: 0;
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 315px;
  margin-right: 20px;
}

.video__iframe:nth-of-type(2n) {
  margin: 0;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}


.digits {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}


.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


.table__heading_theme_dark {
  color: white;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  min-height: 890px;
  display: flex;
  flex-direction:column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  z-index: -2;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  z-index: -2;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  object-fit: cover;
  height: 877px;
  width: 877px;
  position: absolute;
  right: -210px;
  top: 0;
}

.footer {
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  background-color:  #1f1f1f;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
 }

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  color: white;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

.footer__column-links {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 16px;
}


.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  padding-right: 10px;
}

.logo {
width: 183px;
height: 32px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);

}
